header {
  clear: both;
  overflow: auto;}

navbar {float:right;}

.logo img{float:left;}

.navbar a{
  display: inline-block; padding:10px;
  font-size:20px; font-family:raleway;}

.navbar a:hover{
  color:orange;}
