h1 {font-family: arial;
	font-size: 24px;}

h2 {font-family: arial;
	font-size; 18px;}

p {font-family: arial;
	font-size: 14px;}

/*Centre the logo*/
.logo {
	display: block;
 	margin-left: auto;
	margin-right: auto;}

/* Centre the links of the navbar horizontally */
.navbar {
	text-align: center;
	min-height: 58px}

/* Style the links inside the navigation bar */
.navbar a {
	text-decoration: none;
	color: inherit;
	font-family: tahoma;
  	font-size: 18px;
	padding: 20px 20px;}

/* Change the color of links on hover */
.navbar a:hover {
 	color: orange;}

/* Add a color to the active/current link */
.navbar a.active {
  color: orange;}

/*Styling of Dropdown Menu*/
ul li ul.dropdown {
	min-width: 100%;
	background: #f2f2f2;
	display: none;
	position: absolute;
	z-index: 999;
	left: 0;}

/*Display the Dropdown When Hovering*/
ul li:hover ul.dropdown {
	display: block;}

ul li ul.dropdown li {
	display: block;}

/*If screen size is 601px or more, set the font size of image text to 75px*/
@media screen and (min-width: 601px) {
	.image-text {font-size: 75px;}}

/*If screen size is 600px or less, set the font size of image text to 25px*/
@media screen and (max-width: 600px) {
	.image-text {font-size: 25px;}}
