header {
  	clear: both;
  	overflow: auto;}

.logo img{
	float:left;}

/* Add a black background color to the top navigation */
.navbar {
  	overflow: hidden;}

/* Style the links inside the navigation bar */
.navbar a {
	text-align: center;
  	padding: 14px 16px;
  	text-decoration: none;
  	font-size: 18px;}

/*Align the links in the navigation bar*/
div {
	text-align: right;}

/*Display spans inline*/
span {
	display: inline-block;}

/* Change the color of links on hover */
.navbar a:hover {
 	color: orange;}

/* Add a color to the active/current link */
.navbar a.active {
    color: orange;}
